@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  height: 700px;
  margin: auto;
}
/*a 구역*/
.header {
  width: 1200px;
  height: 100px;
  background-color: aqua;
}
.logo {
  width: 200px;
  height: 100%;
  background-color: blanchedalmond;
  float: left;
}
.menubox {
  float: right;
  width: 60%;
  height: 60px;
  background-color: rgb(176, 127, 255);
  margin-top: 20px;
  margin-right: 20px;
}
.menubox li {
  width: calc(100% / 4);
  text-align: center;
  list-style: none;
  float: left;
  line-height: 60px;
  font-size: 20px;
}
.menubox li:hover {
  background-color: black;
  color: white;
}
.menuunder {
  float: right;
  width: 100%;
  height: 200px;
  background-color: blue;
  opacity: 0%;
}
/*b 구역*/
.bsec {
  width: 1200px;
  height: 300px;
  background-color: yellowgreen;
}
/*c 구역*/
.csec {
  width: 1200px;
  height: 200px;
  background-color: cadetblue;
}
.csec1 {
  width: 400px;
  height: 100%;
  float: left;
  background-color: brown;
}
.csec3 {
  width: 400px;
  height: 100%;
  float: left;
  background-color: blueviolet;
}
.csec4 {
  width: 400px;
  height: 100%;
  float: left;
  background-color: blue;
}
/*d 구역*/
.footer {
  width: 1200px;
  height: 100px;
  background-color: chocolate;
}
.ft1 {
  width: 200px;
  height: 100%;
  background-color: aqua;
  float: left;
}
.ft2 {
  width: 800px;
  height: 100%;
  background-color: aquamarine;
  float: left;
}
.ft3 {
  width: 200px;
  height: 100%;
  background-color: blueviolet;
  float: left;
}
